extends ../layout

block content
    h1.
        #{title}
    ul
        - each task, i in tasks
            li
                = task.device.description
                = task.type
                = task.content
                = task.date
                = task._id
                form(action='/tasks/#{task._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden',value='DELETE',name='_method')
                    button(type='submit').
                        Delete
                p
                    a(href='/tasks/#{task._id}/edit') Edit
                p
                    a(href='/tasks/#{task._id}') Show